/* .container { 
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: auto;
  padding: 80px;
  border-radius: 8px;
}  */

.container {
  position: relative;
  background-color: #fff;
  width: auto;
  margin: auto;
  padding: 80px;
  border-radius: 8px;
}